
/** full reset */

*, *:before, *:after {
  margin: 0;
  padding: 0;
  border: none;
  background: none;
  text-decoration: none;
  outline: none;
  box-sizing: border-box;
  transition:
    border-color 200ms ease-out,
    background-color 200ms ease-out,
    box-shadow 200ms ease-out,
    transform 200ms ease-out,
    opacity 200ms ease-out;
}

/** input placeholders */

::-webkit-input-placeholder { opacity: .5; }
::-moz-placeholder { opacity: .5; }
:-ms-input-placeholder { opacity: .5; }
:-moz-placeholder { opacity: .5; }

/** document */

html, body {
  display: block;
  position: relative;
  max-width: 100vw;
  min-height: 100vh;
}
body {
  font-family: 'Amazon Ember', 'Ubuntu', Arial, sans-serif;
  font-size: 13px;
  font-weight: normal;
  line-height: 1.4em;
  background-color: #fff;
  color: #303030;
}

/** controls */

button, input, select, options, textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  color: inherit;
}
button, select {
  cursor: pointer;
}

/** links */

a {
  text-decoration: none;
  color: #0066c0;
}
a:hover {
  text-decoration: underline;
  color: #c45500;
}

/** common buttons */
.btn {
  display: block;
  font-weight: normal;
  cursor: pointer;
  background-color: #eee;
  background-image: linear-gradient( to bottom, rgba(255,255,255,0.5), rgba(255,255,255,0) );
  border: 1px solid #a6a6a6;
  border-radius: 3px;
  line-height: 1.2em;
  white-space: nowrap;
  text-align: center;
  text-decoration: none !important;
  color: inherit !important;
  padding: .8em 1em;
  width: 100%;
  flex: 1;
}
.btn:hover {
  box-shadow: 0 1px 3px rgba(0,0,0,.2) inset;
}
.btn:active {
  box-shadow: 0 0 3px 2px rgba(228,121,17,.5);
}

/** primary buttons */

.btn-primary {
  border-color: #a88734 #9c7e31 #846a29;
  background-color: #f0c14b;
}
.btn-primary:hover {
  background-color: #e0b13b;
}

/** secondary buttons */

.btn-secondary {
  border-color: #adb1b8 #a2a6ac #a2a6ac;
  background-color: #e6e6e6;
}
.btn-secondary:hover {
  background-color: #d6d6d6;
}

/** login wrapper */

.amazon-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 90vh;
}

/** form centered container */

.amazon-container {
  display: block;
  width: 100%;
  min-width: 320px;
  max-width: 400px;
  margin: 0 1rem;
  padding: 3rem 0;
}

/** form logo */
.amazon-logo {
  text-align: center;
  margin: 0 0 1rem 0;
}
.amazon-logo > img {
  display: block;
  width: 180px;
  margin: 0 auto;
}

/** form element container */

.amazon-form {
  display: block;
  overflow: hidden;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #fff;
  margin: 0 0 2rem 0;
  padding: 2rem;
}

/** form top heading text */

.amazon-heading {
  margin: 0 0 2rem 0;
}
.amazon-heading > h1 {
  font-size: 200%;
  font-weight: normal;
}

/** form row spacing */

.amazon-action,
.amazon-info,
.amazon-remember,
.amazon-signup {
  margin: 1.4rem 0 0 0;
}

/** form input labels */

.amazon-input-label {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 0 0 .4rem 0;
}
.amazon-input-label > span {
  font-weight: bold;
  letter-spacing: .04em;
}

/** form text inputs */

.amazon-input {
  position: relative;
  padding: .5rem 0 0 0;
}
.amazon-input > input {
  display: block;
  width: 100%;
  background-color: #fff;
  border: 1px solid #a6a6a6;
  border-radius: 3px;
  box-shadow: 0 1px 0 rgba(255,255,255,.5), 0 1px 0 rgba(0,0,0,.07) inset;
  padding: .8em 1em;
  line-height: 1.2em;
  margin: 0 0 1em 0;
}
.amazon-input > input:hover,
.amazon-input > input:focus,
.amazon-input > input:active {
  border-color: #e77600;
  box-shadow: 0 0 3px 2px rgba(228,121,17,.5);
}

/** form remember checkbox */

.amazon-remember {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.amazon-remember > input[type="checkbox"] {
  display: inline-block;
  margin: 0 .6rem 0 0;
}

/** form signup */

.amazon-signup-heading {
  position: relative;
  text-align: center;
  margin: 0 0 .5rem 0;
}
.amazon-signup-heading:before {
  display: block;
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: rgba(0,0,0,.085);
  left: 0;
  top: 50%;
  z-index: 1;
  content: '';
}
.amazon-signup-heading > span {
  display: inline-block;
  position: relative;
  padding: .1rem 1rem;
  background-color: #fff;
  color: #888;
  z-index: 2;
}

/** form footer links */

.amazon-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  min-height: 10vh;
}
.amazon-footer-div {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 2rem;
  background-image: linear-gradient(to bottom,rgba(0,0,0,.14),rgba(0,0,0,.03) 3px,transparent);
  z-index: 1;
}
.amazon-footer-div:after {
  display: block;
  height: 2rem;
  background-image: linear-gradient(to right,#fff,rgba(255,255,255,0),#fff);
  content: '';
}
.amazon-footer-content {
  position: relative;
  text-align: center;
  padding: 1rem 2rem;
  z-index: 2;
}
.amazon-footer-links {
  margin: 0 0 .5rem 0;
}
.amazon-footer-links > a {
  display: inline-block;
  margin: 0 .4rem;
}


